.button {
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  margin: 3px 3px;
  min-width: 3.5rem;
  min-height: 1.5rem;
  max-width: 4.5rem;
  max-height: 1.5rem;
  overflow: hidden;
}
