<div class="reservation-page">
  <div class="form-container">
    <form class="form-impl" [formGroup]="reservationForm">
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Placeholder">
          <mat-hint>The name that the restaurant will know you by</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="standard">
          <mat-label>Amount of guests</mat-label>
          <input matInput type="number" formControlName="amountOfGuests" placeholder="Placeholder">
          <mat-hint>How many guests you will show up</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <nz-time-picker formControlName="time" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
      </p>
      <button mat-button (click)="handleSubmit()">
        Request reservation
      </button>
    </form>
  </div>
</div>
