.restaurantCard {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid grey;
  width: 40rem;
  margin-bottom: 1rem;

  &__image {
    width: 33%;
    display: flex;
    justify-self: flex-start;
  }

  &__detailsarea {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    flex-direction: column;

    &--textarea {
      margin-left: 10px;
    }

    &--button {
      align-self: flex-end;
    }
  }
}
