<div class="restaurantCard">
  <img src="{{restaurant.image}}" alt="alttext" class="restaurantCard__image">
  <div class="restaurantCard__detailsarea">
    <h2>Name: {{restaurant.name}}</h2>
    <p>Description: {{restaurant.description}}</p>
    <p>Address: {{addressToString(restaurant.address!)}}</p>
  </div>
  <button class="restaurantCard__detailsarea--button button" (click)="goToRestaurantPage(restaurant)">Se menu</button>
  <button class="restaurantCard__detailsarea--button button" (click)="goToReservationPage(restaurant)">Reserver bord</button>
</div>
